# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# test output
/coverage
*.tsbuildinfo

# local verification logs
.next-server.*.log

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# operating systems and editors
.DS_Store
Thumbs.db
*.swp
